.myTable .header

  display flex
  flex-flow row nowrap
  width 100%
  position relative
  //justify-content space-between
  align-items center
  //font-size 1.2rem
  font-weight 700
  padding 0
  cursor default

  // .headerItem
  &Item
    flex-grow 1
    align-self center
    padding 0.3em
    word-break keep-all

    &.glyphicon.shadowed
      color black
      opacity 0.2

    &.glyphicon.active
      color #dc0000

  & .filterIcon
    cursor pointer
    &:before
      content "\e138"
    &.active
      color red

  & .columnFilter
    z-index 1050
    display flex
    position absolute
    bottom 0
    left 0
    width 100%
    background #e8e8e8
    border 1px solid black
    border-radius 0.2em
    margin 0
    padding 0.5em
    opacity 0
    transition-duration 0.2s
    transition-timing-function ease-in
    transition-property all
    transform rotate3d(1, 0, 0, 90deg)
    &.visible
      bottom 3em
      opacity 1
      transform rotate3d(1, 0, 0, 0deg)

