@import "rupture"

.myTable
  $dark-color = #f9f9f9
  $light-color = #ffffff

  position relative
  display flex
  flex-flow column nowrap
  justify-content space-between
  align-items flex-start
  margin-top 0.3em
  //margin 0.3rem
  opacity 1
  //font-size 15px
  //font-weight 300
  //line-height 1.5

  //&.fetching
  //  opacity 0.1

  // .myTableRow
  &Row
    display flex
    flex-flow row nowrap
    width 100%
    border-bottom 1px solid #ddd
    &:nth-of-type(even)
      background-color $light-color
    &:nth-of-type(odd)
      background-color $dark-color

    &.highlighted
      background-color #fff7cc

    &.shadowed
      // text-decoration line-through
      opacity 0.3

    // .myTableRowItem
    &Item
      display flex
      flex-flow row nowrap
      flex-grow 1
      flex-basis 0
      align-self center
      align-items center
      padding 0.2em
      // word-break break-word
      transition all 0.2s ease-in
      .myTable.fetching &
        opacity 1

  & .fetchIndicator
    position absolute
    display flex
    visibility hidden
    justify-content center
    align-self center
    background transparent
    font-size 20em
    top 20%
    left 15%
    width 70%
    z-index 1060
    opacity 0
    transition-duration 0.2s
    transition-timing-function ease-in
    transition-property none
    &:before
      content "\e026"
    &.visible
      visibility visible
      opacity 0.3

  for grow in (1..9)
    & div .uFlexGrow-{grow}
      flex-grow grow



