{
  "production": {
    "SERVER_BASE_URL": "http://example.com:8089/api",
    "PORT": "8080",
    "NO_SERVER_REACT": "false"
  },
  "development": {
    "SERVER_BASE_URL": "http://example.com:8089/api",
    "PORT": "3000",
    "NO_SERVER_REACT": "true"
  }
}
