
.hintForm
  display flex
  flex-flow row wrap
  justify-content space-around
  align-content flex-start
  align-items flex-start
  font-size 12px
  padding-top 0.5em

  // .hintFormItem
  &Item
    flex-basis 16em
    flex-grow 0
    justify-self center
    align-self center

  for grow in (1..9)
    & .uFlexGrow-{grow}
      flex-grow grow
